venv/
backend/venv/
backend/.venv/
iot/config/config.py
__pycache__/
**/__pycache__/
*.pyc
.env
backend/.env
backend/data/
backend/plans
.DS_Store


frontend/node_modules
frontend/.next/
frontend/build/
frontend/next-env.d.ts
